<div class="container">
  <div class="row">
      <div class = "col.lg-10">

        <p> Hello <%= @reciver.email  %></p>
        <p> <%= @sender.email %> just wrote you this message:</p>
        <p><%= @message %></p>

      </div>
  </div>
</div>
