.photo-show-container{
  max-height: 400px;
  min-height: 300px;
  width: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.show-user-info{
}


.right-column{
}
