.photo-show-container{
  max-height: 400px;
  min-height: 300px;
  width: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.show-user-info{
}


.right-column{
}

.free-item {
  background-color: #F38181;
  color: #EAFFD0;
  font-size: 19px;
  border-radius: 11px;
  padding: 10px;
  width: 48%;
  margin-bottom: 10px;
}
