<div class="footer">
  <div class="">
    <p class="mb-0">Backpackers Exchange</p>
    <p class="mb-0">Copyright 2018</p>
    <%= link_to "Read the privacy policy", "https://privacypolicies.com/privacy/view/18cea7b03925fc4a6e959ce164db5ce1", target: "_blank", class: "footer-link"%>
  </div>

</div>
