

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  </head>

  <body>

    <style media="screen">
    .footer {
      padding-top: 10px;
      width: 100%;
      height: 65px;
      background-color: #FCE38A;
      color: #F38181;
      text-align: center;
    }

    .footer p {
      font-size: 14px;
    }

    body {
      font-weight: 300 !important;
      color: #424141;
    }

    .col-md-8 {
      border: 2px solid #F38181;
      border-radius: 11px;
      background-color: white;
      padding: 30px;
    }

    .logo-text {
      font-family: 'Anton', sans-serif;
      color: #F38181;
      font-size: 16px;
    }

    .container-fluid{
      min-height: 50vh
    }
    .btn-primary{
      background-color: #95E1D3;
      border: none;
      color: white
    }


    .btn-primary:hover{
      background-color: #66c7b6;
      border: none;
      color: white

    }
    .btn-primary:active{
      background-color: #66c7b6 !important;
      border: none !important;
      color: white !important;

    }


    </style>

    <div class="container-fluid" >
      <div class="row">
        <div class="col-md-8 mx-auto mt-4 mb-4" style="background-color: white">
          <div class="d-flex align-items-baseline">
            <img src="https://res.cloudinary.com/bckapp/image/upload/v1528105482/logo1_copy.png" alt="" style="height: 30px">
            <p class="ml-2 logo-text">Backpacker Exchange</p>
          </div>
          <p>Hello <%= @email %>!</p>

          <% if @resource.try(:unconfirmed_email?) %>
            <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
          <% else %>
            <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
          <% end %>

        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>

</html>
